.OuterEnclosure {
    width: 120px;
    aspect-ratio: 3; /* width: height*/
    background-color: antiquewhite;
    border-radius: 25px;
    position: relative;
}

.ToggleButton {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: blueviolet;
}