.LogoWithTitle {
	display: flex;
	align-items: center;
}

.LogoHeader {
	font-size: 50px;
	letter-spacing: 2px;
}

.LogoWithTitle > img {
	height: 32px;
	aspect-ratio: 1;
}

.NavigationSections {
	display: flex;
	align-items: center;
	flex: auto;
    justify-content: space-between;
    padding: 0 15px;
}

.Header {
	display: flex;
	align-items: center;
	box-shadow: -4px 4px 10px 7px rgb(0 0 0 / 25%);
}

.More {
	display: flex; 
	align-items: center;
	column-gap: 5px;
	position: relative;
}

.More::after {
	content: "⌄";
	margin-top: -8%;
}


.More:hover > .DropDownItems {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	border: 1px solid green;
	position: absolute;
	top: 50px;
	right: 0px;
	padding: 2px 8px 2px; 
}
.DropDownItems {
	display: none;
}